html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.main-header {
  position: relative;
  padding: 15px 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.main-header-logo {
  width: 140px;
  height: 71px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

label {
  cursor: pointer;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3)
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.info, .photo, .state, .hotels {
  width: 239px;
}

.welcome {
  background-image: url('../img/background photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.intro-welcome {
  padding-top: 70px;
  width: 459px;
  height: 353px;
}

.welcome::after {
  content: "";
  display: block;
  background-image: url('../img/intro-mask.svg');
  position: absolute;
  height: 59px;
  width: 1201px;
  bottom: -2px;
  left: 0;
}

.explain {
  text-align: center;
}

.main-text {
  max-width: 440px;
  font-weight: bold;
  color: #000000;
  margin: 0 auto;
}

.addition {
  max-width: 489px;
  margin: 0 auto;
}

.title1 {
  font-size: 21px;
}

.title {
  font-size: 21px;
  color: #000000;
}

.feature {
  display: flex;
}

.features-item-price1 {
  padding-left: 55px;
  padding-right: 55px;
  max-width: 400px;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
}

.features-item-price {
  width: 400px;
}

.features-content-pavilion {
  width: 800px;
  margin: 0;
}

.features-list {
  display: flex;
  list-style: none;
}

.features-item {
  text-align: center
}

.interes {
  text-align: center;
  list-style: none;
}

.transfer {
  background-color: #eeeeee;
}

.form-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.form-text {
  line-height: 24px;
}

.button-form-open {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  width: 568px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;

  background-color: #766357
}

.button {
  background-color: #81b3d2
}

.main-footer {
  display: flex;

}

.footer-visits {
  width: 140px;
  line-height: 26px;
  font-weight: bold;
  color: #000000
}

footer-copyright {
  line-height: 26px;
  width: 200px;
}

.title-hotel {
  font-size: 21px;
  line-height: 26px;
}

.button-detail {
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #81b3d2;
}

.button-reservation {
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #766357;
}

.fotter-social {
  display: flex;
  width: 160px;
}

.fotter-social li:nth-last-child {
  margin-right: 0;
}

.fotter-social li {
  width: 50px;
  height: 50px;
  background: blue;
  position: relative;
  margin-right: 20px;
}

.fotter-social a{
  display: block;
  width: 100%;
  height: 100%;
}

.fotter-social img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.visually-hidden {
  position: absolute;
  padding: 0;
  border: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
