html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.main-header {
  position: relative;
  padding: 15px 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-header-logo {
  width: 140px;
  height: 71px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

label {
  cursor: pointer;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3)
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  text-align: center;

  list-style: none;
}

.site-navigation-item {
  width: 239px;
}

li.site-navigation-item:nth-child(2) {
  margin-right: 244px;
}

/* .site-navigation-item-current a {
  color: aqua;
} */

.welcome {
  background-image: url('../img/background-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 76px;
  padding-bottom: 73px;
  text-align: center;
}

.intro-welcome {
  width: 459px;
  height: 353px;
}

.welcome::after {
  content: "";
  display: block;
  background-image: url('../img/intro-mask.svg');
  position: absolute;
  height: 57px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.explain {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
}

.main-text {
  font-size: 21px;
  line-height: 26px;
  max-width: 440px;
  font-weight: bold;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 30px;
}

.addition {
  font-size: 14px;
  line-height: 26px;
  max-width: 489px;
  margin: 0 auto;
}

.features-title {
  font-size: 21px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 24px;
}

.feature {
  display: flex;
  margin: 0;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #eeeeee;
}

.feature-img-city {
  background-image: url(../img/pavilion.jpg);
  background-position: center right;
  width: 100%;
}

.feature-img-bridge {
  background-image: url(../img/mountain.jpg);
  background-position: center left;
  flex-direction: row-reverse;
  width: 100%;
}

span.number {
  display: block;
  margin-bottom: 19px;
}

.feature-color-white {
  background: #ffffff;
}

.features-item {
  width: 400px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 46px;
  padding-bottom: 60px;
  text-align: center;
}

.features-item-color {
  background-color: #81b3d2;
  color: #ffffff;
}

figure.features-icon {
  margin-top: 0;
  margin-bottom: 25px;
}

.features-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.interes {
  text-align: center;
  list-style: none;
  padding-top: 57px;
}

.transfer {
  background-color: #eeeeee;
}

.form-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 30px;
}

.form-text {
  line-height: 24px;
  margin-bottom: 52px;
  display: inline-block;
}

.button-form-open {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  padding-top: 29px;
  padding-bottom: 29px;
  font-weight: bold;

  background-color: #766357
}

.title-hotel {
  font-size: 21px;
  line-height: 26px;
}

.button-detail {
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #81b3d2;
}

.button-reservation {
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #766357;
}

.form {
  text-align: center;
  padding: 55px;
  display: block;
  text-transform: uppercase;
  width: 568px;
  background-color: #ffffff;
  list-style: none;
  height: 396px;
  margin: 0 auto;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
}

.form-calendar {
  background-image: url(../img/calendar.svg);
  background-size: auto;
  width: 21px;
  height: 22px;
  background-color: transparent;
  border: none;
  opacity: 0.32;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.form-content label {
  font-weight: 600;
}

.form-count {
  display: inline-flex;
  width: 34px;
  height: 34px;
  border: none;
  position: relative;
  background: #f2f2f2;
  vertical-align: middle;
}

.form-minus {
  align-items: center;
  justify-content: center;
}

.form-minus::before {
  content: "";
  width: 13px;
  height: 3px;
  background: #a9a9a9;
  display: block;
  margin: auto;
}

.form-plus {
  display: inline-block;
  width: 34px;
  height: 34px;
  border: none;
}

.form-plus::after {
  content: "";
  width: 13px;
  height: 3px;
  background: #a9a9a9;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.form-plus::before {
  content: "";
  width: 13px;
  height: 3px;
  background: rgb(161, 161, 165);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-content {
  margin-bottom: 28px;
  position: relative;
  display: flex;
  align-items: center;
}

.form-content-number {
  display: flex;
  margin-left: 40px;
}

input#adults {
  background: #f2f2f2;
  border: none;
  width: 34px;
  height: 34px;
  text-align: center;
}

input#child {
  background: #f2f2f2;
  border: none;
  width: 34px;
  height: 34px;
  text-align: center;
}

.childs {
  margin-left: auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.check-in-date-input {
  margin-left: auto;
  width: 346px;
  background: #f2f2f2;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 14px;
}

.button {
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  padding-top: 17px;
  padding-bottom: 22px;
  color: #ffffff;
  width: 460px;
  border: 2px solid transparent;

  background-color: #81b3d2
}

.hotel-welcome {
  display: flex;
  justify-content: space-between;
  background-image: url('../img/filter-background.jpg');
  background-repeat: no-repeat;
  background-color: lightslategrey;
  background-position: center;
  position: relative;
  color: #ffffff;
  padding: 26px 72px 28px 72px;
}

.list {
  display: flex;
  flex-direction: column;
}

.check-infrastructure {
  border: none;
}

.list li {
  padding-bottom: 22px;
}

.filter-checkbox + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.filter-checkbox + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
}

.filter-checkbox:checked + label::after {
  content: "";
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
}

.prestige {
  display: flex;
}

.results-wrapper {
  display: flex;
  justify-content: flex-start;
}

.sorting {
  display: flex;
  flex-direction: row;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.results-wrapper {
  display: flex;
  justify-content: flex-start;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
}

.catalog-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
  align-items: center;
}

.list-hotel {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.hotel-rating {
  padding-left: 538px;
}

.footer {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.footer-row {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-col {
  width: 400px;
}

.footer-visits {
  line-height: 26px;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  text-align: center;
}

.footer-copyright {
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-academy {
  margin-left: 8px;
}

.social {
  display: flex;
  justify-content: center;
}

.social li {
  width: 46px;
  height: 48px;
  background: #81b3d2;
  position: relative;
  margin-right: 6px;
}

.social li:last-child {
  margin-right: 0;
}

.social a {
  display: block;
  width: 100%;
  height: 100%;
}

.social img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute;
  padding: 0;
  border: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}