html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.main-header {
  position: relative;
  padding: 15px 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-header-logo {
  width: 140px;
  height: 71px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

label {
  cursor: pointer;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3)
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.info,
.photo,
.state,
.hotels {
  width: 239px;
}

.welcome {
  background-image: url('../img/background photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.intro-welcome {
  padding-top: 70px;
  width: 459px;
  height: 353px;
}

.welcome::after {
  content: "";
  display: block;
  background-image: url('../img/intro-mask.svg');
  position: absolute;
  height: 59px;
  width: 1201px;
  bottom: -2px;
  left: 0;
}

.explain {
  text-align: center;
}

.main-text {
  max-width: 440px;
  font-weight: bold;
  color: #000000;
  margin: 0 auto;
}

.addition {
  max-width: 489px;
  margin: 0 auto;
}

.title1 {
  font-size: 21px;
}

.title {
  font-size: 21px;
  color: #000000;
}

.feature {
  display: flex;
  justify-content: space-between;
}

.feature1 {
  display: flex;
  background-repeat: no-repeat;
  background-image: url(../img/pavilion.jpg);
  background-size: cover;
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.feature2 {
  display: flex;
  flex-direction: row-reverse;
  background-repeat: no-repeat;
  background-image: url(../img/mountain.jpg);
  background-size: cover;
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.features-item-price1 {
  padding-left: 55px;
  padding-right: 55px;
  max-width: 400px;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
}

.features-item-price {
  width: 400px;
  padding-left: 40px;
  padding-right: 40px;
}

.option {
  padding-top: 25px;
  padding-bottom: 70px;
  padding-right: 18px;
  padding-left: 18px;
}

.features-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.features-item {
  text-align: center;
  padding-top: 60px;

}

.interes {
  text-align: center;
  list-style: none;
}

.transfer {
  background-color: #eeeeee;
}

.form-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.form-text {
  line-height: 24px;
}

.button-form-open {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  width: 568px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;

  background-color: #766357
}

.form {
  text-align: center;
  display: block;
  text-transform: uppercase;
  width: 568px;
  background-color: #ffffff;
  list-style: none;
  height: 396px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 568px;
}

.check-in-date-input {
  margin-left: 18px;
  width: 346px;
  background: #f2f2f2;
  border: none;
  margin-bottom: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
}

.button {
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  width: 460px;

  background-color: #81b3d2
}

.hotel-welcome {
  display: flex;
  justify-content: space-around;
  background-image: url('../img/background photo.jpg');
  background-size: unset;
  background-repeat: no-repeat;
  position: relative;
  min-height: 217px;
  padding-top: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list li {
  padding-bottom: 22px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  border: 2px solid #ffffff;
}

input[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
}

input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 22px;
  height: 11px;
  border-radius: 1px;
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.prestige {
  display: flex;
}

.search-hotel {
  display: flex;
  justify-content: flex-start;
}

.sorting {
  display: flex;
  flex-direction: row;
}

.filter-range {
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
}

.catalog-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
}

.list-hotel {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.hotel-rating {
  padding-left: 538px;
}

.main-footer {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.footer-visits {
  width: 140px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  padding-left: 130px;
}

.footer-copyright {
  line-height: 26px;
  width: 200px;
  margin-right: 100px;
  margin-bottom: 40px;
}

.title-hotel {
  font-size: 21px;
  line-height: 26px;
}

.button-detail {
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #81b3d2;
}

.button-reservation {
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #766357;
}

.fotter-social {
  display: flex;
  width: 160px;
}

.fotter-social li:nth-last-child {
  margin-right: 0;
}

.fotter-social li {
  width: 50px;
  height: 40px;
  background: skyblue;
  position: relative;
  margin-right: 20px;
}

.fotter-social a {
  display: block;
  width: 100%;
  height: 100%;
}

.fotter-social img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute;
  padding: 0;
  border: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}